<% content_for(:title) { "Project List - #{current_user.name}" } %>

<div class="row">
  <div class="large-10 columns">
    <h4 class='title'><%= current_user.team.name %> Projects:</h4>
  </div>
  <div class="large-1 columns">
    <%= link_to new_project_path do %> <span class="inline tiny button">New Project</span> <% end %>
  </div>
</div>

<div class="row">
  <div class="large-9 columns">
    <%= render 'shared/project_list_table', projects: @projects %>
  </div>
  <div class="large-3 columns">
    <div class="stats">
      STATS GO HERE
    </div>
  </div>
</div>
