/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 *= require jquery.ui.datepicker
 *= require jquery-tablesorter/theme.grey
 *= require chosen
 */

@import "foundation_and_overrides";
@import "foundation-icons";
@import "markdown";

@import url(http://fonts.googleapis.com/css?family=Share+Tech);

html {
  height: 100%;
}
body {
  min-height: 100%;
}

div.flash-message {
  padding: 10px;
}

div.notice {
  background-color: #82ca9d;
}

div.alert {
  background-color: #f7977a;
}

.size-12 {
  font-size: 12pt;
}

.size-14 {
  font-size: 14pt;
}

.size-16 {
  font-size: 16pt;
}

.size-18 {
  font-size: 18pt;
}

.row-container {
  min-height: 5em;
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #dddddd;
}

.embedded-pct {
  margin: 0 auto;
  text-align: center;
  font-size: 0.75em;
}

.nested_tasks {
  margin-left: 30px;
  border-left: gainsboro 1px solid;
  padding-left: 2px;
}

.disabled {
  opacity: 0.5;
}

.ancestry {
  opacity: 0.25;
}

.content {
  margin: 0px auto;
  padding: 0 2em 1em 2em;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
  -o-text-overflow: ellipsis;  // for Opera 9 & 10
}

.title {
  font-weight: bold;
}

.subtitle {
}

a *.row-item { color: black; }
.row-item {
  vertical-align: middle;
  padding: 0 10px 0 10px;
  .toolbox {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
  }
}

.name {
}

.desc {
  opacity: 0.5;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}
